
.ccol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.cbanner {
    padding-left: 40px !important;
    background-image: url(../images/contact-us.png);
    margin-top: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contact-page .form-control {
    background-color: #edeeee !important;
    font-family: Arial, Helvetica, sans-serif !important;
    border-radius: 5px;
}
.contact-page .form-label {
    margin-bottom: 0;
    font-size: 15px;
} 
.contact-page .form-group {
    margin-bottom: 0.5rem;
}
.co-btn {
    border-radius: 40px !important;
    padding: 5px 40px !important;
}
.cpadding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact-page .form-control:focus {
    box-shadow: none;
    border: 1px solid black
}

.cpadding2 {
    margin-top: 80px;
    margin-bottom: 130px;
    background-color: #edeeee;
    border-radius: 15px;
}
button.mochabtn.bg.left.font-arial.btn.btn-primary {
    margin-left: 12px;
}
.contact-page {
    height: 100vh;
    overflow-x: hidden;
    perspective: 1.5px;
}