

.flow a:first-child {
    margin-left: 10px;
}

.rsection .nav-link, .cprofile .nav-link {
    display: inline-block;
    padding: 0;
}



.custom-switch {
    margin: -6px 0px 27px !important;
}

.custom-switch .custom-control-label::before {
    background: transparent !important;
    border-color: #af4125 !important;
}

.custom-switch .custom-control-label::after {
    border-color: #af4125 !important;
    background-color: #af4125 !important;
}

input[type="checkbox"]:focus {
    outline: 0 !important;
}



.custom-control-input:checked~.custom-control-label::before {
    background-color: #af4125 !important;
}

.custom-control-input:checked~.custom-control-label::after {
    background-color: #EAE1CB !important;
}

.custom-control-label {
    font-size: 15px;
}

.rflex p {
    padding: 4px 8px;
    border: 1px solid;
    background: #EAE1cb;
    color: #000000 !important;
    margin-bottom: 0;
    border-radius: 3px;
}

element.style {
    color: wheat;
}
#exampleInputEmail1, #exampleInputPassword1 {
    background-color: #231f20;
    color: #AF4125;
    /* color: #eae1cb; */
    /* border: none; */
}
#exampleInputEmail1, #exampleInputPassword1 {
    background-color: #231f20;
    color: #AF4125;
    /* color: #eae1cb; */
    /* border: none; */
}
.rsection .form-control:focus {
    color: #AF4125 !important;
}
@media only screen and (max-width:1024px) {
   .rsection form {
        padding: 0px 30px !important;
    }
}

/* Responsive CSS */
@media only screen and (max-width:600px) {
    .rflex {
        min-height: 400px !important;
    }
    .rsection .col-sm-6.form {
        min-height: 600px !important;
        padding-bottom: 40px !important;
    }
    .rflex .flow {
        bottom: 10px !important;
    }
}
@media only screen and (max-width:768px) {
    .sectionwel {
        font-size: 40px;
    }
   .rsection form {
        padding:30px 20px;
    }
   .rsection form .btn.form {
        width: 100% !important;
    }
   .rsection form .btn.form.a {
        margin-left: 0;
        width: 100% !important;
        margin-top: 10px !important;
    }
    .flow {
        padding: 20px !important;
    }
    .itemcenter .btn.form.a {
        margin-left: 0;
    }
    .rflex {
        min-height: 350px;
        height: auto;
    }
}
@media only screen and (max-width:600px) {
    .sectionwel {
        font-size: 40px;
    }
    .rsection form {
        padding: 0px 20px;
    }
    .rsection form .btn.form {
        width: 100% !important;
    }
    .rsection form .btn.form.a {
        margin-left: 0;
        width: 100% !important;
        margin-top: 10px !important;
    }
    .flow {
        padding: 20px !important;
    }
    .itemcenter .btn.form.a {
        margin-left: 0;
    }
    .lflex {
        height: 350px;
    }
}
@media only screen and (max-width:360px) {
    .sectionwel {
        font-size: 32px !important;
    }
}

